openapi: "3.0.3"
info:
    title: Tasclock API
    version: "0.1.0"
servers:
    - url: https://api.tasclock.com/v1
components:
    securitySchemes:
        bearerAuth:
            type: http
            scheme: bearer
            bearerFormat: JWT
            description: JWT authorization
paths:
    /login:
        post:
            summary: Login
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                email:
                                    type: string
                                    format: email
                                password:
                                    type: string
                                    format: password
                                    minLength: 8
                                    maxLength: 20
            responses:
                "200":
                    description: success operation
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    user_id:
                                        type: string
                                    access_token:
                                        type: string
                                        format: JWT
                                    refresh_token:
                                        type: string
                                        format: JWT
                "400":
                    description: Bad request
                "401":
                    description: Unauthorized
                "404":
                    description: Not found
    /signup:
        post:
            summary: Signup
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                lastname:
                                    type: string
                                firstname:
                                    type: string
                                email:
                                    type: string
                                    format: email
                                password:
                                    type: string
                                    format: password
                                    minLength: 8
                                    maxLength: 20
            responses:
                "201":
                    description: Created
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    user_id:
                                        type: string
                                    access_token:
                                        type: string
                                        format: JWT
                                    refresh_token:
                                        type: string
                                        format: JWT
                "400":
                    description: Bad requset
                "409":
                    description: Conflict
    /refresh:
        post:
            summary: Refresh token
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                refresh_token:
                                    type: string
                                    format: JWT
            responses:
                "200":
                    description: success operation
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    access_token:
                                        type: string
                                        format: JWT
                                    refresh_token:
                                        type: string
                                        format: JWT
                "400":
                    description: Bad request
                "401":
                    description: Unauthorized
    /users/{id}:
        get:
            summary: Get user by id
            security:
                - bearerAuth: []
            parameters:
                - name: id
                  in: path
                  required: true
                  schema:
                      type: string
            responses:
                "200":
                    description: success operation
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    lastname:
                                        type: string
                                    firstname:
                                        type: string
                                    email:
                                        type: string
                "401":
                    description: Unauthorized
                "403":
                    description: Forbidden
                "404":
                    description: Not found
        put:
            summary: Update user by id
            security:
                - bearerAuth: []
            parameters:
                - name: id
                  in: path
                  required: true
                  schema:
                      type: string
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                lastname:
                                    type: string
                                firstname:
                                    type: string
                                email:
                                    type: string
                                    format: email
                                password:
                                    type: string
                                    format: password
                                    minLength: 8
                                    maxLength: 20
            responses:
                "204":
                    description: success operation
                "401":
                    description: Unauthorized
                "403":
                    description: Forbidden
                "404":
                    description: Not found
        delete:
            summary: Delete user by id
            security:
                - bearerAuth: []
            parameters:
                - name: id
                  in: path
                  required: true
                  schema:
                      type: string
            responses:
                "204":
                    description: success operation
                "401":
                    description: Unauthorized
                "403":
                    description: Forbidden
                "404":
                    description: Not found
    /users/{id}/tasks:
        get:
            summary: Get all tasks
            security:
                - bearerAuth: []
            responses:
                "200":
                    description: success operation
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    type: object
                                    properties:
                                        task_id:
                                            type: string
                                        title:
                                            type: string
                                        description:
                                            type: string
                                            nullable: true
                                        is_done:
                                            type: boolean
                                        reward:
                                            type: number
                                            nullable: true
                                        elapsed:
                                            type: number
                                        deadline:
                                            type: string
                                            format: date
                                            nullable: true
                                        created_at:
                                            type: string
                                            format: date
                                        updated_at:
                                            type: string
                                            format: date
                "401":
                    description: Unauthorized
                "403":
                    description: Forbidden
        post:
            summary: Create a new task
            security:
                - bearerAuth: []
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                title:
                                    type: string
                                description:
                                    type: string
                                    nullable: true
                                reward:
                                    type: number
                                deadline:
                                    type: string
                                    format: date
                                    nullable: true
            responses:
                "201":
                    description: Created
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    task_id:
                                        type: string
                                    title:
                                        type: string
                                    description:
                                        type: string
                                        nullable: true
                                    is_done:
                                        type: boolean
                                    reward:
                                        type: number
                                    elapsed:
                                        type: number
                                    deadline:
                                        type: string
                                        format: date
                                        nullable: true
                                    created_at:
                                        type: string
                                        format: date
                                    updated_at:
                                        type: string
                                        format: date
                "400":
                    description: Bad request
                "401":
                    description: Unauthorized
                "403":
                    description: Forbidden
    /users/{id}/tasks/{taskId}:
        get:
            summary: Get task by id
            security:
                - bearerAuth: []
            parameters:
                - name: id
                  in: path
                  required: true
                  schema:
                      type: string
                - name: taskId
                  in: path
                  required: true
                  schema:
                      type: string
            responses:
                "200":
                    description: success operation
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    task_id:
                                        type: string
                                    title:
                                        type: string
                                    description:
                                        type: string
                                        nullable: true
                                    is_done:
                                        type: boolean
                                    reward:
                                        type: number
                                    elapsed:
                                        type: number
                                    deadline:
                                        type: string
                                        format: date
                                        nullable: true
                                    created_at:
                                        type: string
                                        format: date
                                    updated_at:
                                        type: string
                                        format: date
                "401":
                    description: Unauthorized
                "403":
                    description: Forbidden
                "404":
                    description: Not found
        put:
            summary: Update task by id
            security:
                - bearerAuth: []
            parameters:
                - name: id
                  in: path
                  required: true
                  schema:
                      type: string
                - name: taskId
                  in: path
                  required: true
                  schema:
                      type: string
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                title:
                                    type: string
                                description:
                                    type: string
                                    nullable: true
                                is_done:
                                    type: boolean
                                reward:
                                    type: number
                                elapsed:
                                    type: number
                                deadline:
                                    type: string
                                    format: date
                                    nullable: true
            responses:
                "204":
                    description: success operation
                "401":
                    description: Unauthorized
                "403":
                    description: Forbidden
                "404":
                    description: Not found
        delete:
            summary: Delete task by id
            security:
                - bearerAuth: []
            parameters:
                - name: id
                  in: path
                  required: true
                  schema:
                      type: string
                - name: taskId
                  in: path
                  required: true
                  schema:
                      type: string
            responses:
                "204":
                    description: success operation
                "401":
                    description: Unauthorized
                "403":
                    description: Forbidden
                "404":
                    description: Not found
